DB__POSTGRES_USER=YOUR_USERNAME
DB__POSTGRES_PASSWORD=YOUR_PASSWORD
DB__POSTGRES_DB=YOUR_DATABASE_NAME
DB__POSTGRES_HOST=YOUR_HOSTNAME
DB__POSTGRES_PORT=YOUR_PORT

JWT__TOKEN=YOUR_JWT_TOKEN
JWT__ALGORITHM=YOUR_ALGORITHM